@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap');

body {
	font-family: 'Nunito Sans', sans-serif;
	height: 100%;
}

nav {
	box-shadow: none !important;
}

nav div ul li a:hover {
	background: transparent !important;
}

.logoImg {
	max-height: 64px !important;
	padding: 15px 0 !important;
	height: 100vh;
}
